.updated a, #edit-slug-box, #minor-publishing-actions, #misc-publishing-actions { display:none; }
.edel-box{display: inline-block;vertical-align: top;text-align: initial;padding: 0 5px;}
#categories.checkbox_cat li {margin-bottom: 0;}
.widefat tr:nth-child(odd) {background-color: #eee;}
.postdel{font-size: 12px;font-weight: bold;float: left;padding: 0 5px 0px;background: rgb(255, 116, 116);margin: 0 5px;border-radius: 8px;}
.postdel a {color: white;}
.postdel:hover {background: red;cursor: pointer;}
.description{font-size: 11px !important;}
#edpc-table td {vertical-align: top;padding: 0 12px;}
#edpc-table th {padding: 10px 10px 0;}
input#gosubmit {background: greenyellow;z-index: 20;position: absolute;border: 0;border-radius: 20px;padding: 1px 10px;margin: 0 15px;font-weight: bold;}
img#goman {position: absolute;left: 167px;height: 75px;z-index: 10;}
@media screen and (max-width: 782px){
/*	img#goman {left: 300px}
	input#gosubmit {padding: 5px 7px;}
*/}
select#quickdo {cursor: pointer;cursor: hand;}
.postbox.edel-box {
    display: inline-table;
    margin-right: 10px;
}